@import "style/globals";
@import "style/colors";
@import "style/grid";
@import "style/layout";
@import "style/text";
@import "style/nav";
@import "style/form";
@import "style/video";

.stand-out {
  font-size: 22.5px;
}

.meta-list {
  font-size: .8em;
  opacity: .6;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  span {
    display: inline-block;
    padding-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
}

figure {
  overflow: hidden;
  flex: 0 1 auto;
  border-radius: 5px;
  font-size: 0;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    float: left;
  }
}

figure.portrait {
  img { object-fit: cover; }
  @include until($breakpoint) {
    height: 50vw;
    img {
      height: 150%;
    }
  }
}

section.contact {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 1;
    background: url("/images/marcus-red.jpg") 100% 45%;
    background-size: cover;
    filter: contrast(80%);
    transition: $timing .5s opacity;
    opacity: 0;
    @include at-least($breakpoint) {
      opacity: .6;
    }
  }

  > * {
    position: relative;
    z-index: 2;
  }
}

a {
  color: $gray-09;
  &:hover {
    color: $blue-01;
  }
}

footer {
  line-height: 1.8em;
}

%background-logo {
  display: inline-block;
  background-size: contain;
  margin: 0 .2em;
  vertical-align: top;
}

@mixin place-bg($img, $w, $h) {
  @extend %background-logo;
  background-image: url("/images/#{$img}");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: $h;
  width: $w;
}

.logo {
  @include place-bg('logo.png', 2.5em, 2em);
}

.lazy-circles-logo {
  @include place-bg('lazy-circles-logo.png', 8em, 4.5em);
}

.laurels {
  @include place-bg('laurels.png', 100%, 4em);

  @include at-least($breakpoint-med) {
    height: 5em;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.alt-text {
  font-size: 0;
  width: 0; height: 0;
  display: inline-block;
}

.theater {
  background-image: linear-gradient(180deg, #111, #333);
}

.lazy-circles-header {
  background-image: linear-gradient(180deg, #283F7D 10%, #4B77AB);

  nav {
    border-bottom-color: rgba(#EADEDE, .1);

    a { color: rgba(#EADEDE, .6); }
    a:hover, a:focus, a.active { color: #EED33A; }
  }
}

.lazy-circles-header + section {
  background-image: linear-gradient(180deg, #4B77AB 20%, #648AA3 50%, $gray-03 50%);
  border-bottom: 1px solid $gray-04;
}
