$gray-01: #fcfcfc;
$gray-02: #f8f8f8;
$gray-03: #f0f3f6;
$gray-04: #dfe3e6;
$gray-05: #d6dde7;
$gray-06: #c3cdda;
$gray-07: #b4c1d2;
$gray-08: #8c9ba5;
$gray-09: #5a6872;
$gray-09: #5a6872;
$gray-10: #152934;
$gray-11: #0f212e;

$blue-01: #0094fd;
