$input-weight-shadow: 0 1px 3px rgba(#000, .3);
$empty-shadow: 0 0 0 transparent;

input, textarea {
  width: 100%;
  appearance: none;
  border: none;
  width: 100%;
  padding: 9px 12px;
  border-radius: $radius;
  line-height: 1.8em;
  box-shadow: 0 0 0 1px rgba(#000, .1), $empty-shadow;
  transition: $duration $timing box-shadow;
  &:hover, &:focus {
    box-shadow: 0 0 0 1px rgba(#000, .3), $input-weight-shadow;
  }
}

textarea {
  line-height: 1.2em;
  min-height: 8em;
}

button, .button {
  align-self: center;
  align-items: center;
  justify-content: center;
  width: auto;
  line-height: 2;
  font-size: 16px;
  white-space: nowrap;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border: 0;
  padding: .5em 1.4em;
  background: #fff;
  border-radius: $radius;
  transition:
    color $duration,
    background $duration,
    box-shadow $duration;

  // Normal state
  color: inherit;

}
button {
  box-shadow:
    0 0 0 1px rgba(#000, .1),
    0 1px 3px rgba(#000, .15);
  &:hover, &:focus {
    background-image: linear-gradient(180deg, #fff, mix($blue-01, #fff, 3));
    box-shadow: 
      0 0 0 1px rgba(#000, .3),
      0 1px 3px rgba(#000, .25);
  }
}

.button-row {
  flex-direction: row-reverse;
  display: flex;
  align-items: baseline;
  margin-left: auto;
  &.normal {
    flex-direction: row;
  }
  @include until($breakpoint) {
    button, .button {
      width: 100%;
    }
  }
}

a.button {
  transition: $timing $duration background-color, color;
  color: #fff;
  font-weight: 200;
  background-color: #333;

  &:hover, &:focus {
    color: #fff;
    background-color: #555;
  }
}

header a.button {
  padding: .7em 1.6em;
  background-color: transparent;
  box-shadow: 0 0 0 1px #555;
  &:hover, &:focus {
    color: #fff;
    background-color: #444;
  }
}

.button.blue {
  background-color: $blue-03;
  &:hover, &:focus {
    background-color: $blue-02;
  }
}
