nav {
  display: flex;
  justify-content: center;
  background: #222;
  border-bottom: 1px solid #333;
  a {
    padding: 0 15px;
    text-decoration: none;
    color: #888;
    line-height: 2;

    &:hover, &:focus, &.active {
      color: #fff;
    }
  }
}
